@import "vars.sass"

.button
	text-transform: uppercase
	font-size: 0.875em
	font-weight: 900
	color: #fff
	outline: none
	border: none
	height: 48px
	padding: 0 20px
	@include linearGradient(#36c9e1, #5cccae)
	transition: all 0.3s ease
	a
		color: #fff
		display: block
		line-height: 3.4
		&:focus
			color: #fff
	&:hover
		@include linearGradient(#fff, #5cccae)
		border-radius: 24px
		box-shadow: 0px 0px 2px 0px darken($bg-button, 10%)
		a 
			color: darken($bg-button, 10%)
	

			
	