.forms
	font-family: "Roboto"
	font-size: 0.813em
	letter-spacing: 0.3px
	border: 2px solid $bg-color
	background-color: #fff
	width: 350px
	height: 320px
	padding: 40px 30px
	position: relative
	z-index: 997
	h2 
		margin-bottom: 20px
		font-size: 1.5em
		font-weight: 300
		text-align: center
	input
		display: block
		width: 100%
		height: 37px
		outline: none
		border: 1px solid $bg-color
		font-size: 1.15em
		text-indent: 10px
		margin-bottom: 10px
		transition: all 0.5s ease
		&:focus
			border-top: 3px solid $text-color-span
	.button
		margin-top: 10px
		width: 100%
		font-size: 1.3em
		&:hover
			color: darken($bg-button, 10%)
	textarea
		width: 100%
		border-color: $bg-color
		outline: none
		&:focus
			border-top: 3px solid $text-color-span