/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	#header
		.button 
			margin-top: 20px
			position: fixed
			right: 4.5% !important
	#home
		p
			width: 65%


@media only screen and (max-width : 1024px)
	#home
		h3
			font-size: 2em
		p
			font-size: 2.5em
			width: 72%

	.slider
		.descr-wrap
			h3
				font-size: 1.8em
			p, a
				font-size: 1em


/* Medium Devices, Desktops */
@media only screen and (max-width : 991.5px)
	#header
		li
			a 
				padding: 30px 10px 34px

	.section
		padding: 36px 0
	.header
		margin-bottom: 35px

	.slider
		.descr-wrap
			h3
				font-size: 1.42em
			p, a
				font-size: 0.825em
		.owl-next, .owl-prev
			width: 44px
			height: 44px
			&::before
				top: 15px
				width: 11px
				height: 11px
		.owl-next
			right: 20px
			&::before
				left: -2px
		.owl-prev
			left: 20px
			&::before
				left: 2px

	#about-us
		padding-bottom: 0
		.header
			margin-bottom: 20px
	.about-item-wrap
		.about-item
			margin-bottom: 17px
		p 
			margin-bottom: 30px

	#price
		padding-bottom: 35px
	.price-item 
		width: 230px
		li 
			font-size: 0.875em

	.mapscroll-wrap
		height: 420px
		iframe
			height: 420px
	.form-wrap
		top: 17%
		left: 7.5%

	.portfolio-item
		margin-bottom: 10px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	#header 
		.button 
			right: 2%
			font-size: 0.75em
			padding: 0 7px
		.menu
			display: none
			margin-top: 20px
			background-color: $bg-color
			width: 100%
			position: absolute
			z-index: 99997
			font-size: 1.2em
			li
				display: block
				margin-left: 0
				a 
					display: block
					padding: 0
					height: 45px
					line-height: 3
					transition: all 0.5s ease
					&:hover
						box-shadow: none
						border-bottom: 2px solid $bg-button
						background-color: $text-color-span
						color: #fff
				&.active
					a
						border-bottom: 2px solid $bg-button
						box-shadow: none
						background-color: $text-color-span
						color: #fff
	#home
		background-position: center right
		height: 525px
		h2, h3
			font-size: 1.7em
		p
			font-size: 1.9em
			width: 81%
			&:hover
				&::before
					transform: rotate(720deg) scale(2)
		.row
			margin-top: 140px

	.slider
		.descr-wrap
			width: 35%
			h3
				font-size: 0.87em
			p, a
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				font-size: 0.655em
				margin: 0
		.owl-controls
			top: 81%
		.owl-next, .owl-prev
			visibility: hidden
		.owl-dot
			visibility: visible

	.price-item
		margin-bottom: 30px
		height: 473px
		h3 
			margin-bottom: 20px
		ul
			margin-top: 45px
			li 
				font-size: 0.725em
				padding-bottom: 5px
	.price-wrap
		margin-bottom: 320px

	.mapscroll-wrap
		height: 320px
		iframe
			height: 320px
	.form-wrap
		top: -312px
		left: 0
		.forms
			width: 100%
			margin: 0 auto

	.footer
		h2, p
			text-align: center

	.phone-wrap__item
		display: none


	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


@media only screen and (max-width : 550px)
	#home
		h2, h3
			font-size: 1.17em
		p
			font-size: 1.27em
			width: 85%
			&:hover
				&::before
					transform: rotate(720deg) scale(1.5)

					
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.slider
		.descr-wrap
		 h3
		 	font-size: 0.67em
		 	font-weight: 400
		 	margin: 0
			p 
				display: none
			a 
				font-size: 0.5em
				font-weight: 400
		.owl-controls
			top: 76%
		.owl-dot
			margin-left: 5px

	#callback
		width: 300px

	
	
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 769px)
	#header 
		.menu
			display: block !important

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

