// callback - popup
#callback
	max-width: 350px
	height: 410px
	margin: auto
	position: relative

.mfp-forms
	.mfp-close
		color: $text-color-span
		background-color: $bg-color
		width: 40px
		height: 40px
		transition: all 0.5s ease
		&:hover
			top: -23px
			right: -21px
			color: #fff
			border-radius: 50%
			@include linearGradient(#36c9e1, #5cccae)
			transform: rotate(360deg)
	&.mfp-bg
		opacity: 0
		transition: all 0.25s ease-out
		&.mfp-ready
			opacity: 0.8
		&.mfp-removing
			opacity: 0
	&.mfp-wrap
		.mfp-content
			opacity: 0
			transition: all 0.25s ease-out
		&.mfp-ready .mfp-content
			opacity: 1
		&.mfp-removing .mfp-content
			opacity: 0
