@import "../app/libs/owl-carousel/assets/owl.carousel.sass"

.slider
	position: relative
	color: #fff
	.slide
		text-align: left
		&:hover
		cursor: pointer
	.img-wrap
		position: relative
		&::before
				content: ""
				display: block
				position: absolute
				width: 100%
				height: 100%
				top: 0
				left: 0
				background: linear-gradient(to right, rgba(0,0,0, 0.5) 0%, transparent 100%)
				z-index: 5
	.png-wrap
		width: 40%
		position: absolute
		top: 20%
		left: 12%
		z-index: 6
	.descr-wrap
		width: 40%
		position: absolute
		right: 8%
		top: 23%
		z-index: 8
		h3 
			font-size: 2em
			font-weight: 900
			line-height: 1.14
			margin-bottom: 3%
		p
			font-size: 1.25em
			font-weight: 200
			margin-bottom: 4%
		a
			font-size: 1.125em
			font-weight: 900
			color: inherit
			text-decoration: none
			text-transform: uppercase
	.slide-2
		.png-wrap
			width: 25%
			position: absolute
			top: 6.5%
			left: 21%
	.slide-3
		.png-wrap
			width: 31%
			position: absolute
			top: 12%
			left: 17%

	.owl-controls, .owl-nav
		position: absolute
		top: 41%
		left: 0
		width: 100%
	.owl-next, .owl-prev
		position: absolute
		width: 54px
		height: 54px
		border-radius: 50%
		border: 2px solid rgba(255, 255, 255, 0.7)
		transition: all 0.3s ease
		&:hover
			@include linearGradient(#36c9e1, #5cccae)
			border: 2px solid rgba(255, 255, 255, 0.2)
			&::before
				border-color: #fff
		&::before
			position: relative
			top: 17px
			border-style: solid
			border-width: 2px 2px 0 0
			border-color: rgba(255, 255, 255, 0.7)
			content: ''
			display: inline-block
			width: 16px
			height: 16px
			transform: rotate(-45deg)
			vertical-align: top
	.owl-next
		right: 30px
		&::before
			left: -3px;
			transform: rotate(45deg);
	.owl-prev
		left: 30px
		&::before
			left: 3px;
			transform: rotate(-135deg);

	.owl-dot
		visibility: hidden
		position: relative
		top: 0
		display: inline-block
		width: 5px
		height: 5px
		margin-left: 10px
		border-radius: 50%
		border: 1px solid rgba(255, 255, 255, 0.7)
		&.active
			@include linearGradient(#36c9e1, #5cccae)
			border: none