@import "reset.sass"
@import "vars.sass"
@import "mixin.sass"
@import "button.sass"
@import "animation.sass"


body
	font-size: 12pt
	font-family: "Roboto", "Helvetica"
	line-height: 1.47
	color: $text-color
	min-width: 320px
	max-width: 1600px
	margin: 0 auto
	position: relative
	background-color: #fff
	overflow-x: hidden

section
	text-align: center

h1, h2, h3, h4, h5, h6
	text-transform: uppercase
a 
	text-decoration: none
	color: $text-color
	&:hover, &:focus, &:visited, &:active
		text-decoration: none
		color: $text-color
		outline: none

li
	display: inline-block

.hidden
	display: none

.before
	content: ""
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0

/*header*/
#header
	position: fixed
	width: 100%
	left: center
	max-width: 1600px
	height: 70px
	text-align: center
	background-color: rgb(240, 240, 242)
	z-index: 998
	h1
		font-size: 1.625em
		font-family: "Oswald", "Helvetica"
		font-weight: 600
		line-height: 0.7
		margin: 16px 0 7px
		text-align: left
		span
			color: $text-color-span
	p
		font-size: 0.655em
		font-weight: 400
		text-transform: uppercase
		text-align: left
	.fa-home
		color: $text-color-span
		text-decoration: none
	li  
		text-transform: uppercase
		margin-left: -4px
		a 
			font-size: 0.75em
			font-weight: 300
			line-height: 0.4
			display: block
			padding: 30px 20px 34px
			transition: all 0.5s ease
			&:hover
				box-shadow: 0 2px 0 0 $text-color-span
				background-color: rgb(247,248,249)
		&.active
			a
				box-shadow: 0 2px 0 0 $text-color-span
				background-color: rgb(247,248,249)
	.phone-wrap__item
		font-size: 0.75em
		font-weight: 900
		padding: 10px 0 0
	.button 
		margin-top: 10px
	
	.toggle-menu
		display: block
		float: right
		position: absolute
		top: 0
		right: 0
		width: 37px
		height: 37px
		text-align: center
		padding: 32px 5px 20px

/* Important styles */
.toggle-menu span:after,
.toggle-menu span:before 
	content: "";
	position: absolute
	left: 0
	top: -9px

.toggle-menu span:after
	top: 9.5px;

.toggle-menu span 
	position: relative
	display: block

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before 
	width: 100%
	height: 2px
	background-color: $text-color-span
	transition: all 0.3s ease
	backface-visibility: hidden
	border-radius: 2px

/* on activation */
.toggle-menu.on span
	background-color: transparent
.toggle-menu.on span:before 
	transform: rotate(45deg) translate(5px, 5px)

.toggle-menu.on span:after
	transform: rotate(-45deg) translate(7px, -8px)

.toggle-menu.on + #menu
	opacity: 1;
	visibility: visible



/*section home*/
#home
	position: relative
	color: #fff
	.row
		margin-top: 220px
	text-align: center
	height: 730px
	background: rgb(151, 173, 196) url("../img/bg.jpg") center bottom
	background-size: cover
	h2
		font-size: 1.875em
		font-weight: 900
		line-height: 1.833
	h3
		font-size: 2.5em
		font-weight: 100
		line-height: 1.375
	p
		font-size: 3em
		font-weight: 900
		line-height: 1.833
		text-transform: uppercase
		border: 2px solid #fff
		background-color: rgba(255,255,255, 0.2)
		width: 54%
		margin: 20px auto 32px
		position: relative
		&::before
			@extend .before
			width: 50px
			height: 50px
			top: -25px
			left: -25px
			background: url("../img/icon/sale.svg") center no-repeat
			transition: all 0.5s ease
		&:hover
			&::before
				transform: rotate(720deg) scale(2.5)

	.button
		&:hover
			box-shadow: 0px 1px 2px 0px darken($bg-button, 10%)

	.arrow-down
		position: absolute
		left: 50%
		bottom: 40px
		margin-left: -20px
		margin-top: 110px
		a
			text-decoration: none
			display: inline-block
			position: relative
			color: #fff
			width: 42px
			height: 50px
			border: 1px solid #fff
			opacity: 0.6
			overflow: hidden
			transition: all 0.3s ease
			&:hover
				background-color: rgba(255,255,255, 0.2)
				border-radius: 20px
				opacity: 1
				transform: rotate(360deg)
				i
					opacity: 0
					animation-name: none
					top: 8px
					opacity: 1
			i
				position: absolute
				left: 13px
				animation: arrowDown 1.5s ease infinite



		
		

