@import "vars.sass"
@import "mixin.sass"
@import "slider.sass"
@import "form.sass"
@import "popup.sass"


//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #3b3b3b
	opacity: 1
	text-align: center
	font-weight: 100

*:-moz-placehold
	color: #3b3b3b
	opacity: 1
	text-align: center
	font-weight: 100

*::-moz-placeholder
	color: #3b3b3b
	opacity: 1
	text-align: center
	font-weight: 100

*:-ms-input-placeholder
	color: #3b3b3b
	opacity: 1
	text-align: center
	font-weight: 100

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

h2
	font-size: 2em
	font-weight: 100
	line-height: 1
h3
	font-size: 1em
	font-weight: 100
p 
	font-size: 1em
	font-weight: 900
	line-height: 1.5

.section
	padding: 66px 0

.header
		text-align: center
		margin-bottom: 65px
		h2
			margin-bottom: 19px

/*section about-us*/	
#about-us
	background-color: $bg-color
.about-item-wrap
	text-align: center
	p 
		width: 70%
		margin: 0 auto
		opacity: 0
		transform: translateY(-25px)
		transition: all 0.3s ease
		&.on
			opacity: 1
			transform: translateY(0)

.about-item
	padding: 28px 29px
	margin: 0 auto
	margin-bottom: 37px
	width: 159px
	height: 159px
	border-radius: 50%
	box-shadow: 0px 0px 0px 1px rgba(128, 128, 128, 0.25)
	background-color: #fff
	overflow: hidden
	opacity: 0
	transform: translateY(-50px)
	transition: all 0.4s ease
	&:hover
		@include linearGradient(#36c9e1, #5cccae)
		box-shadow: 0px 0px 2px 0.5px darken($bg-button, 20%)
		transform: scale(1.08)
		path
			fill: #fff !important
	&.on
		opacity: 1
		transform: translateY(0)

		

/*section portfolio*/
#portfolio
	padding-bottom: 0
.portfolio-item
	position: relative
	.item-img
		width: 100%
		height: 335px
		background-repeat: no-repeat
		background-size: cover
	&:nth-child(1)
		.item-img
			background-image: url("../img/portfoilo/portf-1-min.jpg")
			background-position: 20% 35%
	&:nth-child(2)
		.item-img
			background-image: url("../img/portfoilo/portf-2-min.jpg")
			background-position: 60% 65%
	&:nth-child(3)
		.item-img
			background-image: url("../img/portfoilo/portf-3-min.jpg")
			background-position: 10% 65%
	&:nth-child(4)
		.item-img
			background-image: url("../img/portfoilo/portf-4-min.jpg")
			background-position: 70% 70%
	&:nth-child(5)
		.item-img
			background-image: url("../img/portfoilo/portf-5-min.jpg")
			background-position: 10% 65%
	&:nth-child(6)
		.item-img
			background-image: url("../img/portfoilo/portf-6-min.jpg")
			background-position: 60% 65%
	&:nth-child(7)
		.item-img
			background-image: url("../img/portfoilo/portf-7-min.jpg")
			background-position: 60% 65%
	&:nth-child(8)
		.item-img
			background-image: url("../img/portfoilo/portf-8-min.jpg")
			background-position: 60% 65%

.item-wrap-descr
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	opacity: 0
	transition: opacity 0.5s ease
	&:hover
		opacity: 0.9
		.fa
			transform: rotate(90deg)
			opacity: 0.9
			top: 8px
			left: 8px

.item-img_bgc
	position: relative
	padding: 80px 0
	width: 100%
	height: 65%
	@include linearGradient(#36c9e1, #5cccae)

.popup-box
	width: 50px
	height: 50px
	display: block
	background-color: #fff
	border-radius: 50%
	margin: 0 auto
	position: relative
	transition: all 0.3s ease
	.fa
		position: absolute
		top: 10px
		left: 10px
		opacity: 0.5
		transition: all 0.3s ease

.item-img-descr
	background-color: #fff
	padding: 37px 0
	width: 100%
	height: 35%
	h3
		text-transform: none
	p 
		font-size: 0.85em
		line-height: 1.74


/*section price*/
#price
	padding-bottom: 47px
.price-item
	width: 270px
	height: 578px
	border: 2px solid #f1f1f1
	box-sizing: border-box
	background-color: #fff
	margin: auto
	opacity: 0
	transform: scale(-1)
	transition: all 0.7s ease
	&.zoom
		opacity: 1
		transform: rotate(360deg) scale(1)
	h3 
		color: $text-color
		font-size: 1.5em
		text-transform: none
		line-height: 5
		background-color: $bg-color
		margin-bottom: 40px
	p 
		font-family: "Oswald", "Helvetica"
		font-size: 3.75em
		font-weight: 700
		line-height: 1
		position: relative
		padding-right: 47%
	.upper
		position: absolute
		top: 0
		left: 43%
		font-size: 0.5em
		font-weight: 400
		vertical-align: super
	.under
		position: absolute
		top: 70%
		left: 43%
		color: $text-color-span
		font-size: 0.25em
		font-weight: 400
		font-family: "Roboto", "Helvetica"
	.dash // браузер не генерировал псевдокласс before к параграфу - хз почему ;)
		position: absolute
		bottom: -35px
		left: 35px	
		display: block
		width: 70px
		height: 2px
		background-color: $bg-button
	ul
		margin: 75px auto 0
		li 
			width: 100%
			padding: 0 10px 15px 30px
			text-transform: uppercase
			text-align: left
	.button
		position: absolute
		bottom: 34px
		left: 50%
		margin-left: -90px
		background: rgba(255, 225, 225, 0.1)
		color: $text-color
		border: 1px solid $text-color
		a 
			&:focus
				color: $text-color
		&:hover
			color: darken($bg-button, 10%)
			@include linearGradient(#fff, #5cccae)

.price-item_third
	.upper
		left: 49%

/*Вариант первый - динамика блока*/
.price-item
	a 
		color: inherit
	&:hover
		h3, .button
			color: #fff
			@include linearGradient(#36c9e1, #5cccae)
		.button 
			border: none
			&:hover
				color: darken($bg-button, 10%)
				@include linearGradient(#fff, #5cccae)
		transform: scale(1.08)

.price-item-sale	
	.under
		color: red	
		font-weight: 600

/*Вариант втроой - центральный блок выделен из-за акции 10% скидка*/
/*.price-item
	*.button
	*	&:hover
	*		border: none
	*
	*.price-item-sale
	*	width: 290px
	*	height: 620px
	*	margin-top: -21px
	*	h3, .button
	*		@include linearGradient(#36c9e1, #5cccae)
	*		color: #fff
	*	.button
	*		border: none
	*	.under
	*		color: red
	*		font-weight: 600
	*/

/*section contacts*/
.map
	position: relative
	.container
		padding: 0
.mapscroll-wrap
	width: 100%
	height: 530px
	top: 7px
	.mapscroll-button
		bottom: 23px
.form-wrap
	width: 100%
	position: absolute
	top: 21%
	left: 12.5%
	
	
/*footer*/
.footer
	min-height: 70px
	background-color: $bg-color
	h2
		font-size: 1.625em
		font-family: "Oswald", "Helvetica"
		font-weight: 600
		line-height: 0.7
		margin: 16px 0 7px
		text-align: left
		span
			color: $text-color-span
	p
		font-size: 0.655em
		font-weight: 400
		text-transform: uppercase
		text-align: left
	.copyright
		font-size: 0.75em
		font-weight: 300
		line-height: 6
		text-align: right
		span
			text-transform: none

/*arrow-up*/
.arrow-up
	a
		display: hidden
		width: 40px
		height: 40px
		position: fixed
		bottom: 6%
		right: 2%
		color: #fff
		text-align: center
		padding-top: 9px
		@include linearGradient(#36c9e1, #5cccae)
		z-index: 998
		transition: all 0.3s ease
		&:hover
			transform: rotate(360deg)
			border-radius: 50%

	
/*media*/
@import "media.sass"


